<div>
    <div class="entry-banner entry-banner-after  bg-common gut-and-glory ">
        <div class="inner-page-banner breadcrumbs-off">
            <div class="container">
                <div class="entry-banner-content breadcrumbs-area">
                    <h1>Gut &amp; Glory</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="about-area pt-100 pb-100" id="aboutus">
        <div class="container">
            <div class="row  ">
                <div class="col-xl-6 col-lg-6">
                    <div class="about-left pos-rel mb-30 aos-init" data-aos="fade-up">
                        <div class="about-author d-flex align-items-center">
                            <div class="about-author-Image mt-2">
                                <img alt="aboutus" loading="lazy" width="0" height="0"
                                     decoding="async" data-nimg="1" sizes="100vw"
                                     src="~/Assets/gutoo.jpg"
                                     style="color: transparent; width: auto; height: auto;">
                                <div class="circle-Image"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 pb-10">
                    <div class="mb-30 aos-init" data-aos="fade-right">
                        <div class="section-title-2">
                            <h2> Your 14-Day Journey to Digestive Freedom</h2>
                        </div>
                        <div class="about-text  ">
                            <p>
                                Ever notice how a troubled stomach seems to affect everything? That's no coincidence.
                                Your gut isn't just about digestion – it's your body's command center. When it's out of
                                whack, you feel it everywhere: your mood tanks, your energy disappears, and even your
                                favorite foods become enemies.
                            </p>
                            <p class="mb-5">
                                Stop letting digestive issues control your life. Gut &amp; Glory™ helps you
                                break free from bloating, weird food reactions, and that frustrating afternoon energy
                                crash. In just 14 days, you'll discover how amazing you can feel when your gut works
                                with you, not against you.
                            </p>
                        </div>
                        <div class="call-to-action-btn ">
                            <a href="https://pages.razorpay.com/gutandgloryTM"
                               target="_blank" class="item-btn-phone btn-blue theme-btn"><span>Reserve Now</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fancybox-layout1  bg-overlay-primary-gradient pt-120 pb-120  ">
        <div class="container d-flex align-items-center">
            <div class="row">
                <div class="col-12 mb-4">
                    <h2 class="item-title text-center ">Do you need Gut Cleansing?</h2>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-4">
                    <div class="icon-box program">
                        <img alt="nutritionist" loading="lazy" width="0" height="0"
                             decoding="async" data-nimg="1" sizes="100vw"
                             src="~/Assets/starving_12817603.gif"
                             style="color: transparent; width: auto; height: auto;">
                        <h4>Indigestion</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-4">
                    <div class="icon-box program">
                        <img alt="nutritionist" loading="lazy" width="0" height="0"
                             decoding="async" data-nimg="1" sizes="100vw"
                             src="~/Assets/obesity_11292175.gif"
                             style="color: transparent; width: auto; height: auto;">
                        <h4>Bloating</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-4">
                    <div class="icon-box program">
                        <img alt="nutritionist" loading="lazy" width="0" height="0"
                             decoding="async" data-nimg="1" sizes="100vw"
                             src="~/Assets/gut-microbiota_12034683.gif"
                             style="color: transparent; width: auto; height: auto;">
                        <h4>IBS</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-4">
                    <div class="icon-box program">
                        <img alt="nutritionist" loading="lazy" width="0" height="0"
                             decoding="async" data-nimg="1" sizes="100vw"
                             src="~/Assets/stomach_12034700.gif"
                             style="color: transparent; width: auto; height: auto;">
                        <h4>Acid Reflux</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-4">
                    <div class="icon-box program">
                        <img alt="nutritionist" loading="lazy" width="0" height="0"
                             decoding="async" data-nimg="1" sizes="100vw"
                             src="~/Assets/witness_15578367.gif"
                             style="color: transparent; width: auto; height: auto;">
                        <h4>Belching</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-4">
                    <div class="icon-box program">
                        <img alt="nutritionist" loading="lazy" width="0" height="0"
                             decoding="async" data-nimg="1" sizes="100vw"
                             src="~/Assets/insomnia_18633648.gif"
                             style="color: transparent; width: auto; height: auto;">
                        <h4>Brain Fog / Fatigue</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-4">
                    <div class="icon-box program">
                        <img alt="nutritionist" loading="lazy" width="0" height="0"
                             decoding="async" data-nimg="1" sizes="100vw"
                             src="~/Assets/conflict_12340750.gif"
                             style="color: transparent; width: auto; height: auto;">
                        <h4>Anxiety / Mood Swings</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-4">
                    <div class="icon-box program">
                        <img alt="nutritionist" loading="lazy" width="0" height="0"
                             decoding="async" data-nimg="1" sizes="100vw"
                             src="~/Assets/hormonal.jpeg"
                             style="color: transparent; width: auto; height: auto;">
                        <h4>PCOS</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-area  pb-100" id="aboutus">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about-left pos-rel mb-30 aos-init" data-aos="fade-up">
                        <div class="about-author d-flex align-items-center">
                            <div class="about-author-Image">
                                <img alt="aboutus" loading="lazy" width="0" height="0"
                                     decoding="async" data-nimg="1" sizes="100vw"
                                     src="~/Assets/IMG_9684.jpg"
                                     style="color: transparent; width: auto; height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about-right-uyt pt-15 mb-30 aos-init" data-aos="fade-right">
                        <div class="section-title-2 mb-20">
                            <h2>What is Included in the Gut &amp; Glory™ Program? </h2>
                        </div>
                        <div class="about-text pr-5">
                            <ul class="list-item ponter-text">
                                <p><b>14-Day Transformation Plan with Expert Guidance</b></p>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span> Kick-off
                                        Group Session: Set yourself up for success with an interactive group session led
                                        by your gut health expert.
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span> 60-Minute
                                        Initial Consultation to map out your wellness journey and set personalized goals
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span> Weekly
                                        One-on-One Check-Ins: Stay on track with personalized support from your gut
                                        health coach.
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span> Blood
                                        Work Analysis &amp; Interpretation to ensure strategic health monitoring
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span> Direct
                                        WhatsApp Access: Get help during those "what do I eat?" moments with easy access
                                        to your coach.
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span> Bi-Weekly
                                        Check-Ins for continuous support, progress tracking, and adjustments
                                    </h4>
                                </li>
                                <p><b>Personalized Nutrition &amp; Support</b></p>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span> Custom
                                        Meal Plans: Enjoy meal plans designed specifically for your life and needs.
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span>
                                        Gut-Healing Recipe Collection: Delicious, gut-friendly recipes that make healing
                                        enjoyable.
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span> Daily
                                        Group Check-ins: Stay motivated and accountable through daily check-ins in a
                                        supportive community.
                                    </h4>
                                </li>
                                <li>
                                    <h4>
                                        <span class="">
                                            <img alt="arrow" loading="lazy" width="0" height="0"
                                                 decoding="async" data-nimg="1" class="fa-spin" sizes="100vw"
                                                 src="~/Assets/dna.png"
                                                 style="color: transparent; width: auto; height: auto;">
                                        </span>
                                        Post-Program Maintenance Guide: Keep your gut health thriving after the program
                                        ends.
                                    </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fancybox-layout1 bg-overlay bg-overlay-primary-gradient pt-120 pb-120 bg-Image otherserv services-tre services-project">
        <div class="container">
            <div class="row justify-content-end mb-30">
                <div class="col-sm-12 col-md-12 col-lg-8 col-xl-12 aos-init" data-aos="fade-up"></div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-d-4 col-lg-6 col-md-12" id="houroperation">
                    <div class="fancybox-item weekbx aos-init" data-aos="fade-up">
                        <div class="fancybox-body d-flex">
                            <div class="weeklist">
                                <h4 class="fancybox-title">Why Start With Gut Health?</h4>
                                <p class="box-text">
                                    Starting with gut health is the key to unlocking overall wellness
                                    because your gut is the foundation of your physical and mental well-being. When your
                                    gut is in balance, it not only improves digestion but also boosts energy, sharpens
                                    mental clarity, regulates mood, and strengthens immunity. By addressing gut issues,
                                    you can say goodbye to bloating, fatigue, and food sensitivities, while enhancing
                                    nutrient absorption and maintaining a healthy weight. Focusing on gut health through
                                    the Gut &amp; Glory™ program will empower you to take control of your health,
                                    leading to lasting vitality and a more vibrant life.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-d-4 col-lg-6 col-md-12">
                    <div class="fancybox-item gut-grr aos-init" data-aos="fade-up">
                        <div class="fancybox-body  d-flex">
                            <div class="weeklist">
                                <h4 class="fancybox-title">Limited Time Offer</h4>
                                <p>
                                    Transform your health in just 14 days with Gut &amp; Glory™, now available for an
                                    exclusive price of ₹6300! This limited-time offer includes expert guidance,
                                    personalized support, and proven strategies to help you reclaim your gut health and
                                    vitality. Don't miss your chance to experience the life-changing benefits of a
                                    healthy gut at a fraction of the cost. Secure your spot today and start your journey
                                    to digestive freedom!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row pt-50 main-pay paysection">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                    <h3 class=" text-center">
                        Reserve your spot now for just ₹6300 and begin your path to optimal health!
                    </h3>
                    <div class="call-to-action-btn paybtn">
                        <a href="https://pages.razorpay.com/gutandgloryTM"
                           target="_blank" class="item-btn-phone btn-blue theme-btn"><span>Reserve Now</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-wrap-layout1 parallaxie" id="support">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-8 col-md-10 col-12">
                    <div class="banner-box-layout1 aos-init" data-aos="fade-up">
                        <h2 class="item-title">What Our Clients Are Saying</h2>
                        <div class="react-multi-carousel-list  " dir="ltr">
                            <ul class="react-multi-carousel-track "
                                style="transition: none; overflow: unset; transform: translate3d(-2610px, 0px, 0px);">
                                <li data-index="0" aria-hidden="true" class="react-multi-carousel-item  "
                                    style="flex: 1 1 auto; position: relative; width: 1305px;">
                                    <div>
                                        <p>
                                            I had a major bloating issue since a few years… nothing seemed to be working
                                            till the time I joined Nancy for the gut cleansing diet and that is when the
                                            magic happened… it was a very doable diet which helped me find out that milk
                                            was not suiting me at all which led to severe bloating… with Nancy’s diet I
                                            got rid of this problem… since then I never had bloating again and now I can
                                            easily enjoy my cold coffee everyday… thank you Nancy… you’ve been a saviour
                                            🙏❤️🙏
                                        </p>
                                        <p><b>Kannu</b></p>
                                    </div>
                                </li>
                                <li data-index="1" aria-hidden="true" class="react-multi-carousel-item  "
                                    style="flex: 1 1 auto; position: relative; width: 1305px;">
                                    <div>
                                        <p>
                                            As someone who has struggled with persistent digestive issues like bloating,
                                            frequent bowel movements, and loose stools, I was hesitant to try yet
                                            another diet plan. However, the gut cleanse workshop recommended by
                                            dietitian Nancy Dehra proved to be a game-changer. I noticed a significant
                                            improvement in my symptoms. The bloating and frequent, loose bowel movements
                                            that I had come to accept as a normal part of my life reduced drastically. I
                                            am incredibly grateful to my dietitian Nancy Dehra for designing such an
                                            effective and transformative gut cleanse workshop. Her deep understanding of
                                            digestive health, coupled with a personalized approach, has given me a new
                                            lease on life. I would highly recommend her workshop to anyone struggling
                                            with similar digestive challenges.
                                        </p>
                                        <p><b> Arvind </b></p>
                                    </div>
                                </li>
                                <li data-index="2" aria-hidden="false"
                                    class="react-multi-carousel-item react-multi-carousel-item--active "
                                    style="flex: 1 1 auto; position: relative; width: 1305px;">
                                    <div>
                                        <p>
                                            Nancy's gut cleanse is the best thing that i did. I was extremely bloated
                                            with breathing issues. I had gone to multiple doctors who prescribed many
                                            medicines which didn't seem right. After 3 months of trying, I tried Nancy's
                                            gut cleanse and to my surprise the problem I was facing reduced 90%. I
                                            highly recommend her 2-week gut cleanse practice to everyone
                                        </p>
                                        <p><b> Ankur </b></p>
                                    </div>
                                </li>
                                <li data-index="3" aria-hidden="true" class="react-multi-carousel-item  "
                                    style="flex: 1 1 auto; position: relative; width: 1305px;">
                                    <div>
                                        <p>
                                            I had a major bloating issue since a few years… nothing seemed to be working
                                            till the time I joined Nancy for the gut cleansing diet and that is when the
                                            magic happened… it was a very doable diet which helped me find out that milk
                                            was not suiting me at all which led to severe bloating… with Nancy’s diet I
                                            got rid of this problem… since then I never had bloating again and now I can
                                            easily enjoy my cold coffee everyday… thank you Nancy… you’ve been a saviour
                                            🙏❤️🙏
                                        </p>
                                        <p><b>Kannu</b></p>
                                    </div>
                                </li>
                                <li data-index="4" aria-hidden="true" class="react-multi-carousel-item  "
                                    style="flex: 1 1 auto; position: relative; width: 1305px;">
                                    <div>
                                        <p>
                                            As someone who has struggled with persistent digestive issues like bloating,
                                            frequent bowel movements, and loose stools, I was hesitant to try yet
                                            another diet plan. However, the gut cleanse workshop recommended by
                                            dietitian Nancy Dehra proved to be a game-changer. I noticed a significant
                                            improvement in my symptoms. The bloating and frequent, loose bowel movements
                                            that I had come to accept as a normal part of my life reduced drastically. I
                                            am incredibly grateful to my dietitian Nancy Dehra for designing such an
                                            effective and transformative gut cleanse workshop. Her deep understanding of
                                            digestive health, coupled with a personalized approach, has given me a new
                                            lease on life. I would highly recommend her workshop to anyone struggling
                                            with similar digestive challenges.
                                        </p>
                                        <p><b> Arvind </b></p>
                                    </div>
                                </li>
                                <li data-index="5" aria-hidden="true" class="react-multi-carousel-item  "
                                    style="flex: 1 1 auto; position: relative; width: 1305px;">
                                    <div>
                                        <p>
                                            Nancy's gut cleanse is the best thing that i did. I was extremely bloated
                                            with breathing issues. I had gone to multiple doctors who prescribed many
                                            medicines which didn't seem right. After 3 months of trying, I tried Nancy's
                                            gut cleanse and to my surprise the problem I was facing reduced 90%. I
                                            highly recommend her 2-week gut cleanse practice to everyone
                                        </p>
                                        <p><b> Ankur </b></p>
                                    </div>
                                </li>
                                <li data-index="6" aria-hidden="true" class="react-multi-carousel-item  "
                                    style="flex: 1 1 auto; position: relative; width: 1305px;">
                                    <div>
                                        <p>
                                            I had a major bloating issue since a few years… nothing seemed to be working
                                            till the time I joined Nancy for the gut cleansing diet and that is when the
                                            magic happened… it was a very doable diet which helped me find out that milk
                                            was not suiting me at all which led to severe bloating… with Nancy’s diet I
                                            got rid of this problem… since then I never had bloating again and now I can
                                            easily enjoy my cold coffee everyday… thank you Nancy… you’ve been a saviour
                                            🙏❤️🙏
                                        </p>
                                        <p><b>Kannu</b></p>
                                    </div>
                                </li>
                            </ul><button aria-label="Go to previous slide"
                                         class="react-multiple-carousel__arrow react-multiple-carousel__arrow--left "
                                         type="button"></button><button aria-label="Go to next slide"
                                                                        class="react-multiple-carousel__arrow react-multiple-carousel__arrow--right "
                                                                        type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="call-to-action-wrap-layout4">
        <div class="item-Image"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="call-to-action-box-layout4 aos-init" data-aos="zoom-in">
                        <h2 class="item-title">
                            Explore Our Natural Gut Cleanse Programs and Improve Your Digestive
                            Health! Begin your journey to optimal digestive wellness
                        </h2>
                        <div class="call-to-action-btn">
                            <a class="btn-red theme-btn" href="/programs">
                                <span>
                                    OUR
                                    PROGRAMS
                                </span>
                            </a><span class="or">&nbsp; &nbsp;or&nbsp;&nbsp;</span> <a href="https://wa.me/9779994422" target="_blank"
                                                                                       class="item-btn-phone btn-blue theme-btn"><span>Call: 9779994422 </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>