@model IEnumerable<Gut_Cleanse.Model.ProgramModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card  table-responsive">
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="text-align:left; width:35%">Description</th>
                        <th>Amount</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model)
                    {
                        <tr>
                            <td>@data.Name</td>
                            <td style="text-align:left;">
                                @{
                                    var truncatedDescription = Html.Raw(data.Description.Length > 134 ? data.Description.Substring(0, 134) + "..." : data.Description);
                                }
                                @truncatedDescription
                                </td>
                            <td>@data.Amount</td>
                            <td>@data.StartDate</td>
                            <td>@data.EndDate</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false"><i class="bx bx-dots-vertical-rounded"></i></button>
                                    <div class="dropdown-menu" style="">
                                        <a class="dropdown-item" href="/Programs/Create?Id=@data.Id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="footer-quick-link">
                <ul class="d-flex"></ul><a href="/Programs/Create" id="whatsapp-icon"><img style="width:90px;" src="~/img/icons/unicons/AddUserIcon.png"></a>
            </div>

        </div>
    </div>
</div>
