@model IEnumerable<Gut_Cleanse.Model.BlogModel>

<style>
    .blogsBg {
    background: url(/Assets/blogre.7551e69a.jpg) top no-repeat;
    background-size: cover;
    background-position: 50%;
    }
</style>

<div class="entry-banner entry-banner-after bg-common blogsBg">
    <div class="inner-page-banner breadcrumbs-off">
        <div class="container">
            <div class="entry-banner-content breadcrumbs-area">
                <h1>Blogs</h1>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        @foreach (var blog in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="blogcard">
                        <img alt="" class="blogcard-img-top" height="400" src="@Url.Content(blog.ImageUrl)" width="600">
                    <div class="blogcard-body">
                        <div style="display:inline-block">
                            <span class="badge"> Gut Cleanse </span>
                            <p class="text-muted mt-2 mb-1">@blog.CreateDate.ToString("MMM d, yyyy")</p>
                            <h5 class="blogcard-title">@blog.Title</h5>
                            <p class="blogcard-text">@Html.Raw(blog.MainDescription)</p>
                        </div>
                        
                        <div style="float:right;padding-top:20px;"><a href="/blogs/View?id=@blog.Id">Learn More</a></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
