<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gut_Cleanse.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gut_Cleanse.Web.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet" />
</head>
<body>
    <header id="header_1" class="">
        <div class="sidebarmenu">
            <div class="d-flex justify-content-between align-items-center p-4">
                <a href="/" class="temp-logo"><img alt="logo" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="img-fluid" sizes="100vw" src="~/Assets/logoM.png" style="color: transparent; width: auto; height: auto;"></a><button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                    <img alt="menu" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="img-fluid" sizes="100vw" src="~/Assets/menu.png" style="color: transparent; width: auto; height: auto;">
                </button>
            </div><div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel"><div class="offcanvas-header"><button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button></div><div class="offcanvas-body"><ul class="list-unstyled"><li><a href="/">Home</a></li><li><div class="d-flex justify-content-between color-white">
                <a href="~/home/about">About</a></div></li><li><div class="d-flex justify-content-between color-white"><a href="/programs">Our Programs</a></div></li><li><div class="d-flex justify-content-between color-white"><a href="/our-process">Our Process</a></div></li><li>
                    <a href="/home/contactus">Contact Us</a></li></ul></div></div>
        </div>
        <div class="header-top-bar   d-none d-md-block">
            <div class="container">
                <div class="row pb-20">
                    <div class="col-xl-8 col-lg-12 col-md-12 col-12 header-contact-layout1">
                        <div class="marquee"> <p>If you need immediate assistance, please call +91 9779994422.</p></div>
                    </div>
                    <div class="col-xl-4 d-none d-xl-block">
                        <ul class="header-social-layout1"><b> Call: +91 9779994422</b><li></li></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-menu-area header-menu-layout1">
            <div class="container">
                <div class="row no-gutters d-flex align-items-center">
                    <div class="col-lg-2 col-md-2 logo-area-layout1"><a href="/" class="temp-logo"><img alt="logo" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="img-fluid" sizes="100vw" src="~/Assets/logoM.png" style="color: transparent; width: auto; height: auto;"></a></div><div class="col-lg-7 col-md-7 possition-static"><div class="template-main-menu "><nav id="dropdown"><ul><li><a href="/">Home</a></li><li>
                        <a href="/home/about">About</a></li><li><a href="/programs">Our Programs</a></li><li>
                            <a href="/home/process">Our Process</a></li><li>
                                <a href="/home/contactus">Contact Us</a></li></ul></nav></div></div><div class="col-lg-3 col-md-3"><div class="header-action-items-layout1"><div class="template-main-menu "><nav id="dropdown"><ul></ul></nav></div></div></div>
                </div>
            </div>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <section class="footer-top-wrap">
            <div class="container">
                <div class="row">
                    <div class="single-item col-lg-3 col-md-6 col-12">
                        <div class="footer-box"><div class="footer-header"><a href="/" class="temp-logo mb-3"><img alt="logo" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="img-fluid mb-4" sizes="100vw" src="~/Assets/footerlogo.png" style="color: transparent; width: auto; height: auto;"></a></div><div class="footer-about mt-3"><p>Gut Cleanse Inc. is India's leading digestive wellness center, specializing in personalized gut health programs that help you overcome digestive challenges and restore your natural vitality. Through our innovative E.R.R.O.R. Method and expert guidance, we've helped thousands achieve lasting digestive wellness. <br><br></p></div></div>
                    </div>
                    <div class="single-item col-lg-3 col-md-6 col-12">
                        <div class="footer-box pl-40">
                            <div class="footer-header"><h3>Quick Links</h3></div>
                            <div class="footer-departments"><ul><li>
                                <a href="/home/about"> About Us</a></li><li><a href="/programs">Programs</a></li><li><a href="/home/process">Our Process</a></li><li>
                                    <a href="/home/contactus">Contact Us</a></li></ul></div>
                        </div>
                    </div><div class="single-item col-lg-3 col-md-6 col-12"><div class="footer-box"><div class="footer-header"><h3>Programs</h3></div><div class="footer-quick-link"><ul><li><a href="/programs">Gut Reset Revolution™</a></li><li><a href="/programs">Gut &amp; Glory™</a></li><li><a target="" href="/programs">Gut Intelligence Workshop</a></li></ul></div></div></div><div class="single-item col-lg-3 col-md-6 col-12"><div class="footer-box"><div class="footer-header"><h3>Contact Us</h3></div><div><div class=" Footer-setaddress"><h6>Sign up for our newsletter to get the latest updates from Gut Cleanse.</h6><div class="Footer-footerform "><form class="Footer-footerinput d-flex"><input placeholder="Your Email Id" name="email" type="email" class="form-control"><button type="submit" class="btn btn-primary btn-reds"> Subscribe</button></form></div></div></div><div class="footer-quick-link"><ul class="sociallink d-flex"><li><a target="_blank" href="https://www.instagram.com/nancy_dehra"><img alt="icon" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="img-fluid" src="~/Assets/instagram-icon.svg" style="color: transparent; width: auto; height: auto;"></a></li></ul><a href="https://wa.me/9779994422" target="_blank" id="whatsapp-icon"><img src="~/Assets/whats.webp" alt="Chat with us on WhatsApp"></a></div></div></div>
                </div>
            </div>
        </section>
        <section class="footer-bottom-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex "><a target="_blank" href="Patient-Privacy-Statement.pdf">Privacy Policy </a> &nbsp;&nbsp;<b>|</b>&nbsp;&nbsp; <a href="#">Terms &amp; Conditions </a></div><div class="col-md-6"><div class="copyright"> Copyright ©2024 Gut Cleanse Inc.</div></div>
                </div>
            </div>
        </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
