<div>
    <div>
        <div class="banner-section">
            <div style="width: 100%; height: 100%;">
                <video src="~/Assets/homevideowe.webm" preload="auto" muted autoplay loop style="width: 100%; height: 100%;">
                </video>
            </div><div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 data-aos="fade-up">Restore Your Digestive Balance, Reclaim Your Vitality </h1>
                        <p class="mt-3" data-aos="fade-up">Experience the transformative power of evidence-based gut healing through our clinically-informed programs &amp; workshops, designed by digestive health specialists</p>
                        <a href="/home/about" class="btn-red mt-4 hombnr"><span>About Us </span></a>
                        <a href="/programs" class="btn-red mt-4 "><span>Enroll now</span></a>
                    </div>
                </div>
            </div>
        </div>
        <section class="about-area pt-100 pb-100" id="aboutus">
            <div class="container">
                <div class="row  ">
                    <div class="col-xl-6 col-lg-6">
                        <div class="about-left pos-rel mb-30" data-aos="fade-up">
                            <div class="about-author d-flex align-items-center">
                                <div class="about-author-Image"><img alt="aboutus" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" sizes="100vw" src="~/Assets/hoab.jpg" style="color: transparent; width: auto; height: auto;"><div class="circle-Image"><img alt="circle-logo" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" sizes="100vw" src="~/Assets/harticon.png" style="color: transparent; width: auto; height: auto;"></div></div>
                            </div>
                        </div>
                    </div><div class="col-xl-6 col-lg-6 pb-10">
                        <div class="about-right pt-15 mb-30  " data-aos="fade-right">
                            <div class="section-title-2  mt-5"><h2>About Us </h2></div><div class="about-text  "><p class="mb-5">At Gut Cleanse, we understand that vibrant health begins in your digestive system. Since 2015, our team of digestive wellness experts has helped thousands of people transform their lives through our science-backed, personalized gut health programs. We don't just mask symptoms – we dig deep to restore your microbiome balance and optimize your digestive function naturally. Drawing from both modern nutritional science and time-tested healing traditions, our gentle yet effective gut cleanse approach helps you overcome bloating, fatigue, and digestive discomfort while boosting your energy and overall wellbeing. Through our signature E.R.R.O.R. Method, we've guided busy professionals, parents, and health-conscious individuals to rediscover the joy of eating without fear or discomfort. Whether you're struggling with occasional digestive issues or looking to enhance your gut health, we're here to support you with practical solutions that fit your lifestyle.</p></div><ul class="counter-list pt-25 mb-4">
                                <li>
                                    <h3><span class="counter">1200</span>+</h3><p>People healed</p>
                                </li>
                                <li><h3><span class="counter">21</span>+</h3><p>Countries</p></li>
                                <li><h3><span class="counter">99</span>%+ </h3><p>Satisfaction</p></li>
                            </ul><div class="abutHomebtn">
                                <a class="btn-red theme-btn mt-4" href="/home/about"><span>Learn More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="departments-wrap-layout5 bg-light-accent100">
            <div class="container  ">
                <div class="row ">
                    <div class="col-md-6"><img alt="arrow" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="digestive" sizes="100vw" src="~/Assets/digestive.jpeg" style="color: transparent; width: auto; height: auto;"></div><div class="col-md-6 digestive-text"><div class="section-title-2 mb-20"><h2>Understanding Your Digestive Health Journey</h2></div><div class="about-text pr-5"><p class="mb-3">Living with chronic digestive issues isn't just about physical discomfort—it impacts every aspect of your life. From the anxiety of planning meals to the frustration of unpredictable symptoms like bloating, gas, and indigestion, gut health challenges can feel overwhelming. We understand. That's why our integrated approach focuses on more than just masking symptoms; we delve into the root causes of your digestive distress to help you improve gut health naturally. Through our specialized gut cleanse programs, we address imbalances in your gut microbiome, supporting optimal digestive health and helping you reclaim control of your well-being.</p></div></div>
                </div>
            </div>
        </section>
        <section class="features-wrap-layout1" id="healthcare ">
            <div class="features-box-layout1 d-lg-flex  ">
                <div class="item-inner-wrapper leftbxImage">
                    <div class="item-content d-flex align-items-center">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="item-content-inner content-light" data-aos="fade-up">
                                        <h2 class="item-title">The Hidden Impact of Gut Dysbiosis</h2>
                                        <p>Recent clinical research has revealed that gut health influences far more than digestion. Your digestive system houses over 70% of your immune system and produces 90% of your body's serotonin – the "happiness hormone." When gut bacteria fall out of balance (dysbiosis), it can trigger a cascade of health issues:</p><ul class="list-item"><li><h4><span class=""><img alt="arrow" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="fa-spin" sizes="100vw" src="~/Assets/dna.png" style="color: transparent; width: auto; height: auto;"></span> Chronic inflammation and bloating</h4></li><li><h4><span class=""><img alt="arrow" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="fa-spin" sizes="100vw" src="~/Assets/dna.png" style="color: transparent; width: auto; height: auto;"></span> Compromised nutrient absorption</h4></li> <li><h4><span class=""><img alt="arrow" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="fa-spin" sizes="100vw" src="~/Assets/dna.png" style="color: transparent; width: auto; height: auto;"></span> Irregular bowel movements</h4></li> <li><h4><span class=""><img alt="arrow" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="fa-spin" sizes="100vw" src="~/Assets/dna.png" style="color: transparent; width: auto; height: auto;"></span> Mood fluctuations and anxiety</h4></li> <li><h4><span class=""><img alt="arrow" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="fa-spin" sizes="100vw" src="~/Assets/dna.png" style="color: transparent; width: auto; height: auto;"></span> Hormonal imbalances</h4></li><li><h4><span class=""><img alt="arrow" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="fa-spin" sizes="100vw" src="~/Assets/dna.png" style="color: transparent; width: auto; height: auto;"></span> Unexplained weight changes</h4></li><li><h4><span class=""><img alt="arrow" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="fa-spin" sizes="100vw" src="~/Assets/dna.png" style="color: transparent; width: auto; height: auto;"></span> Skin problems and inflammation </h4></li><li><h4><span class=""><img alt="arrow" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" class="fa-spin" sizes="100vw" src="~/Assets/dna.png" style="color: transparent; width: auto; height: auto;"></span> Autoimmune responses </h4></li></ul><a class="btn-red theme-btn mt-4" href="/programs">Enroll now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="item-inner-wrapper imageset-hom" data-aos="fade-up"><img alt="aboutus1" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" sizes="100vw" src="~/Assets/intestine-problem.jpg" style="color: transparent; width: auto; height: auto;"></div>
            </div>
        </section>
        <section class="departments-wrap-layout5 bg-light-accent100" id="services">
            <div class="container">
                <div class="row gutters-20">
                    <h2 class="item-title text-center mb-60">Our Programs</h2>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="zoom-in">
                        <div class="departments-box-layout4 pedcare">
                            <div class="box-content">
                                <div class="radborder"><img alt="padiatric" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" sizes="100vw" src="~/Assets/padiatric-icon.png" style="color: transparent; width: 56px; height: auto;"></div><h3 class="item-title">
                                    <a href="/programs/one-one-gut-reset-revolution">1:1 Gut Reset Revolution™</a>
                                </h3><p>Transform your relationship with health through our signature wellness program, crafted from over a decade of clinical success stories. We don't just address symptoms – we help you unlock lasting vitality by harmonizing your gut health, hormone balance, and mindful eating practices.</p>
                                <a class="link" href="/programs/one-one-gut-reset-revolution">Learn More</a>
                            </div>
                        </div>
                    </div><div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="zoom-in">
                        <div class="departments-box-layout4 wmser">
                            <div class="box-content">
                                <div class="radborder">
                                    <img alt="women-service" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" sizes="100vw" src="~/Assets//behavior-health-icon.png" style="color: transparent; width: 56px; height: auto;">
                                </div><h3 class="item-title">
                                    <a href="/programs/gut-and-glory">Gut &amp; Glory™</a>
                                </h3><p>Stop letting digestive issues control your life. Our Gut &amp; Glory™ program helps you break free from constant bloating, weird food reactions, and that frustrating afternoon energy crash. In just 14 days, you'll discover how amazing you can feel when your gut works with you, not against you.</p>
                                <a class="link" href="/programs/gut-and-glory">Learn More</a>
                            </div>
                        </div>
                    </div><div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="zoom-in">
                        <div class="departments-box-layout4 wmser">
                            <div class="box-content">
                                <div class="radborder"><img alt="women-service" loading="lazy" width="0" height="0" decoding="async" data-nimg="1" sizes="100vw" src="~/Assets/primary-care.webp" style="color: transparent; width: 56px; height: auto;"></div><h3 class="item-title"><a href="/programs/gut-intelligence-workshop">Gut Intelligence Workshop</a></h3><p>Your gut is more than just a digestive system - it's your body's second brain and command center for total wellness. In this transformative workshop, dive deep into the fascinating world of your microbiome and discover how it orchestrates everything from your immune response to your emotional wellbeing.</p>
                                <a class="link set-btm" href="/programs/gut-intelligence-workshop">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="banner-wrap-layout1 parallaxie" id="support">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="banner-box-layout1" data-aos="fade-up">
                        <h2 class="item-title">What Our Clients Are Saying</h2>
                        <div class="carousel-item active">
                            <p>I had a major bloating issue since a few years… nothing seemed to be working till the time I joined Nancy for the gut cleansing diet and that is when the magic happened… it was a very doable diet which helped me find out that milk was not suiting me at all which led to severe bloating… with Nancy’s diet I got rid of this problem… since then I never had bloating again and now I can easily enjoy my cold coffee everyday… thank you Nancy… you’ve been a saviour 🙏❤️🙏</p>
                            <p><b>Kannu</b></p>
                        </div>
                        <div class="carousel-item">
                            <p>Nancy's gut cleanse is the best thing that i did. I was extremely bloated with breathing issues. Had gone to multiple doctors who prescribed many medicines which didn't seem right. After 3 months of trying I tried Nancy's gut cleanse and to my surprise the problem I was facing reduced 90%. I highly recommend her 2 week gut cleanse practice to every one</p><p><b>Ankur </b></p>
                        </div>
                        <div class="carousel-item">
                            <p>I recently went through a surgery and my gut was completely out of wack. Nancy was instrumental in helping heal my gut issues. The diet plan and recipes shared by her are super easy to follow. In addition to that I lost 3 kgs. I feel way better, less bloated and over all energetic. Thank you Nancy for being such an awesome and empathetic health coach !</p><p><b>Sowmya</b></p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="fa fa-chevron-circle-left" style="font-size:45px;" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="fa fa-chevron-circle-right" style="font-size:45px;" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <section class="call-to-action-wrap-layout4">
            <div class="item-Image"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="call-to-action-box-layout4" data-aos="zoom-in">
                            <h2 class="item-title">Explore Our Natural Gut Cleanse Programs and Improve Your Digestive Health! Begin your journey to optimal digestive wellness</h2><div class="call-to-action-btn"><a class="btn-red theme-btn" href="/programs"><span>OUR PROGRAMS</span></a><span class="or">&nbsp; &nbsp;or&nbsp;&nbsp;</span> <a href="https://wa.me/9779994422" target="_blank" class="item-btn-phone btn-blue theme-btn"><span>Call: 9779994422 </span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var divIsInPort = false;
           

            $(window).on('scroll', function () {
                const $targetDiv = $('#aboutus');
                if (isInViewport($targetDiv) && divIsInPort==false) {
                    divIsInPort = true;
                    $('.counter').each(function () {
                        $(this).prop('Counter', 0).animate({
                            Counter: $(this).text()
                        }, {
                            duration: 4000,
                            easing: 'swing',
                            step: function (now) {
                                $(this).text(Math.ceil(now));
                            }
                        });
                    });
                    
                } 
                
            });
        });

        function isInViewport($element) {
            const windowHeight = $(window).height();
            const scrollTop = $(window).scrollTop();

            const elementTop = $element.offset().top;
            const elementBottom = elementTop + $element.outerHeight();

            // Check if the element is within the viewport
            return (elementBottom > scrollTop && elementTop < (scrollTop + windowHeight));
        }
    </script>
}
